.section--photoslider {
  padding-top: 2.4rem;
  padding-bottom: 2.4rem;
  @media (min-width: $mobile-small) {
    padding-top: 8.8rem;
    padding-bottom: 14rem;
  }
  .section-title,
  .section-subtitle {
    color: 000;
  }
  .section-title {
    margin-bottom: 1.2rem;
  }
  .section-subtitle {
    color: #808080;
    font-size: 1.6rem;
    line-height: 1.1;
    margin-bottom: 2.4rem;
    @media (max-width: 600px) {
      max-width: 70%;
    }
  }
}

.photoslider {
  .photo {
    border-radius: 1.6rem;
    background: #707070;
    transform: translateZ(0);
    overflow: hidden;
    img {
      display: block;
      max-width: 100%;
      margin: 0 auto;
    }
    .foto-thumb {
      width: 100%;
    }
  }
  @media (max-width: 600px) {
    .swiper-slide {
      .photo {
        width: 80vw;
      }
    }
  }
}


#gallery-modal-box {
  div.close {
    position: absolute;
    right: 2rem;
    top: 2rem;
    width: 3rem;
    svg {
      display: block;
      width: 100%;
    }
  }
  @media (max-width: 768px) {
    padding-bottom: 0;
    .bigimagebox {
      background: #000;
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
.gallery-img {
  width: 100%;
  max-width: 120rem;
}
